<a href="https://colab.research.google.com/github/ginaldolaranjeiras/disciplina_programacao/blob/main/Atividade_Avaliativa_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Disciplina: Fundamentos de Programação


Profª: Danielle Amaral Menéndez


Prof.: Igor Oliveira Vasconcelos

Aluno: Ginaldo Laranjeiras Junior

## **Atividade Avaliativa 01**

**1 Defina os tipos de variáveis:**


Nome de uma cidade;

> str - String - Caractere

Número de RG;

> str - String - Caractere

CEP;

> str - String - Caractere

Telefone;

> str - String - Caractere

Quantidade de produto em estoque;

> int - Inteiro

Saldo da poupança;

> float - Número de ponto flutuante - Decimal

Faltas em uma disciplina;

> int - Inteiro

Passou ou não passou em uma disciplina

> bool - Boleano

Estado Civil;

> str - String - Caractere

Chegou ou não chegou em um lugar

> bool - Boleano

In [ ]:
nome_cidade = "Propriá"
type(nome_cidade)

str

In [ ]:
numero_rg = "000.000-0"
type(numero_rg)

str

In [ ]:
cep = "49900-000"
type(cep)

str

In [ ]:
telefone = "(79)99114-7935"
type(telefone)

str

In [ ]:
qtd_estoque = 1000
type(qtd_estoque)

int

In [ ]:
saldo_poupanca = 0.1
type(saldo_poupanca)

float

In [ ]:
faltas_disciplina = 0
type(faltas_disciplina)

int

In [ ]:
passou_na_disciplina = True
type(passou_na_disciplina)

bool

In [ ]:
estado_civil = "Solteiro"
type(estado_civil)

str

In [ ]:
chegou_no_lugar =  True
type(chegou_no_lugar)

bool

 **2 Marque a opção que contém um identificador para uma variável inválido no
Python**

a. nomeAluno (Variável válida mas em desacordo com a PEP 8)

b. aluno05 (Variável válida)

c. _matricula  (Variável válida)

**d. %valor** (Variável invádida por conter caractere especial)

e. alunoMatriculado (Variável válida MAS em desacordo com a PEP 8)

In [ ]:
nomeAluno = "Ginaldo"

In [ ]:
aluno05 = "Ginaldo"

In [ ]:
_matricula = "20191010613"

In [ ]:
%valor = 10.00

UsageError: Line magic function `%valor` not found.

In [ ]:
alunoMatriculado = True

**3 Suponha que executamos as seguintes declaração por atribuição:**

**largura = 17**
**altura = 12.0**

**Para cada uma das expressões a seguir, escreva o valor da expressão e o
tipo (do valor da expressão).**

In [ ]:
LARGURA = 17
 
ALTURA = 12.0

 1. largura // 2

> resultado = 8

> tipo = int - inteiro

In [ ]:
resultado = LARGURA // 2
 
print(resultado)
type(resultado)

2. largura / 2


> resultado = 6.0

> tipo = float - decimal

In [ ]:
resultado1 = ALTURA / 2

print(resultado1)
type(resultado1)

3. altura  / 3

> resultado = 4.0

> tipo = float - decimal

In [ ]:
resultado2 = ALTURA / 3

print(resultado2)
type(resultado2)

4 . 1 + 2 * 5

> resultado = 11

> tipo = int - inteiro

In [ ]:
resultado3 = 1 + 2 * 5

print(resultado3)
type(resultado3)

5. largura ** 2

> resultado = 289

> tipo = int = inteiro

In [ ]:
resultado4 = LARGURA ** 2 

print(resultado4)
type(resultado4)

6. largura += 3

> resultado = 20

> tipo = int - inteiro

In [ ]:

largura = LARGURA

largura+= 3

print(largura)
type(largura)

7. altura -= 0.5

> resultado = 7.0

> tipo = float - decimal

In [ ]:
altura = ALTURA

altura -= 5

print(altura)
type(altura)

**4. Faça um algoritmo em Python para tirar a média de 4 números.**

In [ ]:
def media_de_quatro():
  a = float(input("Informe o 1º número: "))
  b = float(input("Informe o 2º número: "))
  c = float(input("Informe o 3º número: "))
  d = float(input("Informe o 4º número: "))
  return (a + b + c + d) / 4
 
media = media_de_quatro()
 
print("A média dos 4 números é: {}".format(media))

**5. Faça um algoritmo em Python para que leia dois números e imprima a soma,
a subtração, a multiplicação e a divisão;**

In [ ]:
def calc():
  a = float(input("Informe o primero número: "))
  b = float(input("Informe o segundo número: "))
  soma = a + b
  subtracao = a - b
  multiplicacao = a * b
  divisao = a / b
  return soma, subtracao, multiplicacao, divisao

r_soma, r_subtracao, r_multiplicacao, r_divisao = calc()

print("O resultado da soma dos números é: {}".format(r_soma))
print("O resultado da subtração dos números é: {}".format(r_subtracao))
print("O resultado da multiplicação dos números é: {}".format(r_multiplicacao))
print("O resultado da divisão dos números é: {}".format(r_divisao))

**6. Faça um algoritmo em Python para converter um valor em R\$ (real) para U\$
(dóllar);**

In [ ]:
CORACAO_DOLAR = 5.60  # 08 de outubro de 2019, fechamento.

def cotacao():
  real = float(input("Informe o valor em real: R$ "))

  return real / CORACAO_DOLAR

real_dolar = cotacao()

print("O valor informado corresponde a: U$ {}".format(real_dolar))

**7. Faça um algoritmo em Python para converter a temperatura de ºF(Fahrenheit)
para ºC (célsius). Onde °C = (°F – 32) / 1,8;**

In [ ]:
def converter_temperatura():
  fahrenheit = float(input("Informe a temperatura em °F: " ))
  return (fahrenheit - 32) / 1.8

celsius = converter_temperatura()

print("A temperadura informada corresponde a {} °C".format(celsius))

**8. Tendo como dados de entrada a altura e o sexo de uma pessoa, construa um
algoritmo para calcular seu peso ideal, utilizando as seguintes fórmulas:**

**para homens: 72,7 * altura – 58;**

**para mulheres:62,1 * altura – 44,7**

In [ ]:
def calcula_peso():
  sexo = input("Informe o sexo: (M - masculino ou F - feminino): ")
  altura_pessoa = float(input("Informe a altura: "))

  if sexo == "M":
    peso_ideal = 72.7 * altura_pessoa - 58
  elif sexo =="F":
    peso_ideal = 62.1 * altura_pessoa - 44.7
  else:
    print("Entrada inválida. Informe (M ou F)")
  return peso_ideal

try:
  r = calcula_peso()
  print("Seu peso ideal é: {}".format(round(r, 2)))
except:
  print("Tente novamente.")

**9. Joãozinho é um piscicultor em Propriá. Joãozinho precisa de um programa que
receba como entrada o preço de custo do peixe, o valor do imposto a ser pago
e o percentual de lucro. Portanto, faça um programa em Python que com base
nos dados de entrada calcule o valor do peixe para Joãozinho.**

In [ ]:
def calculo_preco_venda():
  custo = float(input("Informe o valor do custo do peixe: "))
  imposto = float(input("Informe o valor do imposto: "))
  percentual_lucro = float(input("Informe o percentual de lucro: "))
  return # fórmula

preco_venda = calculo_preco_venda()

print("O preço de venda corresponde a: {}".format(preco_venda))

**10. A padaria “Pão Bom” vende certa quantidade de pães franceses e uma
quantidade de broas a cada dia. Cada pãozinho custa R\$ 0,12 e a broa custa
R\$ 1,50. Ao final do dia, o dono quer saber quanto arrecadou com a venda dos
pães e broas (juntos), e quanto&#39; deve guardar numa conta de poupança (10%
do total arrecadado). Você foi contratado para fazer os cálculos para o dono.
Com base nestes fatos, faça um algoritmo para ler as quantidades de pães e
de broas, e depois calcular os dados solicitados.**

In [ ]:
def cauculo_receita():
  qtd_paozinho = float(input("Informe a quantidade de pãezinhos vendidos: "))
  total_paozinho = qtd_paozinho * 0.12
  qtd_broa = float(input("Informe a quantidade de broas vendidas: "))
  total_broa = qtd_broa * 1.5
  total_arrecadado = total_paozinho + total_broa
  return total_arrecadado
 
receitas_dia = cauculo_receita()
 
deposito_poupanca = receitas_dia * 0.1
 
print("O valor a ser depositado na poupança hoje é de R$ {}.". format(deposito_poupanca))